.skill {
    width: 250px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 10px;

}
.description {

}
.icon {
    height: 60px;
    width: 60px;
    background-color: #ec8585;
}