.skillsBlock {

    background-color: darkolivegreen;
    padding: 50px 0;

}
.title {
    background-color: azure;
}

.skillsContainer {
    justify-content: flex-start;
    flex-direction: column;
}

.skills {

    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


}