@import 'src/common/styles/sass/variables';
.nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  right: 0;

  .link {
    text-decoration: none;
    color: #ffffff;
    transition: .3s ;
    font-family: $secondaryFontFamily;

  }
  .link:hover {
    color: $primaryColor
  }
}
