@import "src/common/styles/sass/variables";

.footerBox {
  background-color: rgba(0 0 0 /25%);
  padding: 50px 0;

  .footerContainer {
    display: flex;
    flex-direction: column;

    .iconsBox {

      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      width: 250px;

      .icon a {
        color: $mainColor;
        &:hover{
          color: $primaryColor;
          transition: 0.3s;
        }
      }
    }
  }

  .rights {

    margin-top: 20px;
  }
}


