$textColor: #b4afc6;
$mainColor: #fff;
$primaryColor:  #00c0ff;
$bgColor: #1e1345;
$bcSecondColor: rgba(58, 43, 113, 0.5);
$mainFontFamily: 'Open Sans', sans-serif;
$secondaryFontFamily:  'Poppins', sans-serif;