.contactsBox {
    background-color: khaki;

    padding: 50px 0;
}

.contactsContainer {
    display: flex;
    flex-direction: column;

}

.title {
    background-color: #ec8585;
}

.form {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-top: 10px;
}

.text {
    margin-top: 10px;
}

.button {
    background-color: #ec8585;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    margin-top: 10px;
    width: 120px;
    height: 30px;
}

.input {
    margin-top: 10px;
}